@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=JetBrains+Mono:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-serif: 'Playfair Display', serif;
  
  --color-quantora-black: #050505;
  --color-quantora-silver: #E0E0E0;
  --color-quantora-grey: #2A2A2A;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-quantora-black);
  color: var(--color-quantora-silver);
}

/* Custom Scrollbar for that "High Tech" feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Enable smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}
